{{- /* Custom link render hook: add default utm_source to external links */ -}}
{{- $href := .Destination -}}
{{- $text := .Text | safeHTML -}}

{{- $isExternal := or (hasPrefix $href "http://") (hasPrefix $href "https://") -}}

{{- if $isExternal -}}
  {{- $utmSource := .Page.Site.Params.utm_source | default "" -}}
  {{- $utmParts := slice -}}
  {{- if and $utmSource (not (in $href "utm_source=")) -}}
    {{- $utmParts = $utmParts | append (printf "utm_source=%s" $utmSource) -}}
  {{- end -}}
  {{- $utmMedium := .Page.Site.Params.utm_medium | default "" -}}
  {{- if and $utmMedium (not (in $href "utm_medium=")) -}}
    {{- $utmParts = $utmParts | append (printf "utm_medium=%s" $utmMedium) -}}
  {{- end -}}

  {{- $base := $href -}}
  {{- $frag := "" -}}

  {{- if in $href "#" -}}
    {{- $parts := split $href "#" -}}
    {{- $base = index $parts 0 -}}
    {{- if ge (len $parts) 2 -}}
      {{- $frag = printf "#%s" (index $parts 1) -}}
    {{- end -}}
  {{- end -}}

  {{- if gt (len $utmParts) 0 -}}
    {{- $sep := "?" -}}
    {{- if in $base "?" -}}
      {{- $sep = "&" -}}
    {{- end -}}
    {{- $utm := delimit $utmParts "&" -}}
    {{- $href = printf "%s%s%s%s" $base $sep $utm $frag -}}
  {{- end -}}
{{- end -}}

<a href="{{ $href | safeURL }}"
   {{- with .Title }} title="{{ . }}"{{ end -}}
   {{- if $isExternal }} target="_blank" rel="noopener noreferrer"{{ end -}}>
  {{- $text -}}
</a>

